<div><a ng-if="vm.me.admin" ng-click="vm.toggleDeleted()"><span ng-if="vm.showDeleted">Hide</span><span ng-if="!vm.showDeleted">Show</span> deleted</a></div>
<br/>
<ul class="list-unstyled messages">
    <li ng-repeat="date in vm.dates">
        <hr />
        <p class="text-center">{{date | date:'dd-MM-yyyy'}}</p>
        <table class="table borderless">
            <tr ng-if="!message.deleted || (vm.me.admin && vm.showDeleted)" ng-repeat="message in vm.messages | filter:date track by $index">
                <td>
                    <div class="col-xs-8 bubble" ng-class="{'col-xs-offset-4' : vm.me.id == message.userId, 'faint' : message.deleted}">
                        <div class="pull-left"><img class="avatar" ng-src="{{vm.users[message.userId].avatar ? vm.users[message.userId].avatar : vm.defaultAvatar}}" /></div>
                        <div class="pull-right text-right">{{message.dateTime | date:'dd/MM/yyyy HH:mm:ss'}}<br/>
                            <a ng-if="vm.me.id == message.userId" ng-click="vm.editMessage(message)">Edit</a>
                            <a ng-if="vm.me.admin" ng-click="vm.removeMessage(message)">Delete</a>
                        </div>
                        <span ng-style="{color: vm.users[message.userId].userName.split('/')[1]}">{{vm.users[message.userId].userName.split('/')[0]}}</span><br/>
                        <div ng-if="message.type == 'text'">{{message.message}} <span ng-if="message.edited" class="faint">(edited)</span></div>
                        <div ng-if="message.type == 'image'"><img ng-src="{{message.message}}" data-toggle="modal" data-target="#myModal5" ng-click="vm.selected=message" style="cursor:pointer; max-width:100%; margin-top:5px;" /></div>
                    </div>
                </td>
            </tr>
        </table>
    </li>
    <li ng-if="vm.messages.length == 0" class="text-center">
        <br/><br/>
        <p>There are no messages in this room yet..</p>
    </li>
</ul>

<form ng-submit="vm.send()" class="no-margin bottom">
    <div class="giphy-container" ng-if="vm.gif">
        <div class="float: left">
            <img class="gif" ng-src="{{vm.gif.images.fixed_width.url}}" />
        </div>
        {{vm.gif.title}}
        <br/>
        <button class="btn btn-primary" ng-click="vm.sendGif()">Send</button>
        <button class="btn btn-default" ng-click="vm.fetchGif()">Shuffle</button>
        <button class="btn btn-default" ng-click="vm.cancelGif()">Cancel</button>
    </div>
    <div class="input-group">
        <input class="form-control" ng-model="vm.message" placeholder="Type a message or paste an image url, /giphy {search} works too!" />
        <div class="input-group-addon btn" ng-click="vm.openUploadDialog()">
            <input class="pictureUpload" type='file' style="display:none;" ng-model='vm.uploadedPictureObject' base-sixty-four-input>
            <span>Upload Picture</span>
        </div>
        <div class="input-group-addon btn" ng-click="vm.send()">
            <span ng-if="vm.editingMessage == -1">Send</span>
            <span ng-if="vm.editingMessage > -1">Save</span>
        </div>
    </div>
</form>

<!-- Modal -->
<div id="myModal5" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
    
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-body text-center">
                <p class="text-center">
                    <span ng-style="{color: vm.users[vm.selected.userId].userName.split('/')[1]}">{{vm.users[vm.selected.userId].userName.split('/')[0]}}</span>
                    -
                    {{vm.selected.dateTime | date:'dd/MM/yyyy HH:mm:ss'}}
                </p>
                <div style="overflow:scroll">
                    <img ng-src="{{vm.selected.message}}" />
                </div>
            </div>
        </div>
    
    </div>
</div>