body {
    margin: 12px 0px 32px 0px;
}
@media (min-width: 992px) {
    body {
        margin: 3rem 0 2.5rem 0;
    }
    .sidebar.modal-body {
        padding: 0px !important;
        border-radius: 6px;
    }
    .tab-content, .bottom {
        padding: 0px 15px;
    }
}

@media (max-width: 991px) {
    form.no-margin {
        margin-bottom: 0px;
    }
    #room {
        width: 100%;
    }
}

input {
    border: 0 !important;
    border-radius: 0 !important;
    background-color: #f3f3f3 !important;
    border-bottom: 1px solid #ddd !important;
    border-top: 1px solid #ddd !important;
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
}

.btn {
    border-radius: 0px;
    background-color: transparent;
}

.input-group-addon {
    padding: 0px;
}

input:focus, input:active {
    background-color: #f4f4f4 !important;
}

button, .input-group-addon, .input-group-addon .btn {
    border-radius: 0px !important;
    outline: none !important;
}

.input-group-addon .btn {
    background-color: #f9f9f9 !important;
    line-height: 18px;
}

.input-group-addon .btn:hover {
    background-color: #eee !important;
} 

.input-group .btn:last-child {
    border-left: 1px red solid !important;
}

.btn-default {
    border: 0px;
    border-bottom: 2px solid #ddd;
    padding: 7px 12px 6px 12px;
    margin-bottom: 5px;

    &.selected, &:active, &:active:focus {
        box-shadow: none;
        -webkit-box-shadow: none;
        background-color: #f3f3f3;
        border-bottom: 2px solid #d9534f;
    }
}

.btn-red {
    @extend .btn-default;

    &.selected {
        color: #f9f9f9;
    }

    &.selected, &:active {
        background-color: #d43f3a;
        border-bottom: 2px solid #d43f3a;
    }
}

.table {
    font-size: 14px;
}

.padding {
    padding: 10px;
}

h4 {
    display: inline-block;
    margin-bottom: 5px;
}

h5 {
    display: inline-block;
    margin: 0px;
}

.nav-pills li a {
    color: #fff;
    background-color: #d9534f;
    border-color: #d43f3a;
}

.editProfileLink {
    display: inline-block;
    margin-top:3px;
}

.faded {
    opacity: 0.6;
    font-size: smaller;
}

.bubble {
    background-color:#f3f3f3;
    border-radius: 4px;
    padding:6px 8px;
    margin-top:5px;
    margin-bottom:5px;
}

.users-list, .room-list {
    max-height:calc(100% - 195px);
    overflow-y: scroll;
}

.faint {
    opacity: 0.3;
}

.sidebar {
    background-color: #f8f8f8;
    overflow: hidden;
}

.sidebar-toggle {
    float: right;
    text-decoration: none;
    color: #888;
}

.sidebar-toggle:hover {
    text-decoration: none;
}

.borderless td, .borderless th {
    border: none !important;
}

.messages {
    overflow-y: scroll;
    padding-right:12px;
}

.modal-body {
    padding: 20px 30px;
}

.info {
    font-size:12px;
    color: #666
}

a {
    cursor: pointer;
}

.avatar {
    height:40px;
    width:40px;
    border-radius: 5px;
    margin-right: 10px;
}

.giphy-container {
    display: inline-block;
    background-color: #ddd;
    padding: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

    .gif {
        margin: 4px 0px;
    }
}