body {
    overflow-x: hidden;
    overscroll-behavior: none;
}

@media (min-width: 992px) {
    body {
        margin: 20px 0px;
    }

    .uiview {
        height: calc(100vh - 60px);
    }

    .sidebar.modal-body {
        padding: 0 !important;
    }

    .tab-content {
        padding: 0 15px;
    }

    .top,
    .bottom {
        padding: 0 8px;
    }

    .bottom {
        padding-bottom: 2px;
    }

    form.bottom {
        padding: 0;
    }
}

@media (max-width: 991px) {
    body {
        margin: 0;
    }

    .uiview {
        height: calc(100vh - 20px);
    }

    form.no-margin {
        margin-bottom: 0;
    }

    #room {
        width: 100%;
        padding: 8px 0 12px;
    }

    .sidebar.modal-body {
        padding: 0 !important;
    }

    sidebar {
        &::before {
            display: none;
        }
    }

    .sidebar {
        border: 1px solid #ddd;

        .tab-content,
        .bottom {
            padding: 3px 15px 13px;
        }

        .tab-content {
            padding-top: 8px;
        }
    }
}

.modal-content {
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 1px solid rgb(139, 119, 119);
}

.modal-backdrop {
    visibility: hidden !important;
}

.modal.in {
    background-color: rgba(0, 0, 0, .5);
}

form.no-margin {
    margin-bottom: 2px;
}

input {
    border: 0 !important;
    border-radius: 0 !important;
    background-color: #f3f3f3 !important;
    border-bottom: 1px solid #ddd !important;
    border-top: 1px solid #ddd !important;
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
}

.btn {
    border-radius: 0;
    background-color: transparent;
}

.input-group-addon {
    padding: 0;

    .btn {
        background-color: #f9f9f9 !important;
        line-height: 18px;

        &:hover {
            background-color: #eee !important;
        }
    }
}

input:focus,
input:active {
    background-color: #f4f4f4 !important;
}

button,
.input-group-addon,
.input-group-addon .btn {
    border-radius: 0 !important;
    outline: none !important;
}

.input-group .btn:last-child {
    border-left: 1px red solid !important;
}

.btn-default {
    border: 0;
    border-bottom: 2px solid #ddd;
    padding: 7px 12px 6px;
    margin-bottom: 5px;

    &.selected,
    &:active,
    &:active:focus {
        box-shadow: none;
        -webkit-box-shadow: none;
        background-color: #f3f3f3;
        border-bottom: 2px solid #d9534f;
    }
}

.btn-red {
    @extend .btn-default;

    &.selected {
        color: #f9f9f9;
    }

    &.selected,
    &:active {
        background-color: #d43f3a;
        border-bottom: 2px solid #d43f3a;
    }
}

.table {
    font-size: 14px;
}

.tab-content {
    padding-top: 10px;
}

.padding {
    padding: 10px;
}

h4 {
    display: inline-block;
    margin-bottom: 5px;
}

h5 {
    display: inline-block;
    margin: 0;
}

.nav-pills li a {
    color: #fff;
    background-color: #d9534f;
    border-color: #d43f3a;
}

.editProfileLink {
    display: inline-block;
    margin-top: 3px;
}

.faded {
    opacity: .6;
    font-size: smaller;
}

.bubble {
    background-color: #f3f3f3;
    border-radius: 4px;
    padding: 6px 8px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.users-list,
.room-list {
    //max-height: calc(100% - 195px);
    overflow-y: auto;
}

.faint {
    opacity: .3;
}

sidebar {
    &::before {
        position: absolute;
        content: '';
        height: 100%;
        width: 100%;
        z-index: -1;
        background-color: #f8f8f8;
        right: auto;
        top: 0;
        margin-left: -7px;
    }
}

.sidebar {
    background-color: #f8f8f8;
    overflow: hidden;
}

.sidebar-toggle {
    float: right;
    text-decoration: none;
    z-index: 100;
    position: relative;
}

.sidebar-toggle:hover {
    text-decoration: none;
}

.borderless td,
.borderless th {
    border: none !important;
}

.messages {
    overflow-y: scroll;
    padding-right: 12px;
}

.modal-body {
    border-radius: 6px;
    padding: 10px 18px;
}
.modal-content {
    border: 0px;
}

.info {
    font-size: 12px;
    color: #666;
}

a {
    cursor: pointer;
}

.avatar {
    height: 40px;
    width: 40px;
    border-radius: 5px;
    margin-right: 10px;
}

.giphy-container {
    display: inline-block;
    background-color: #f3f3f3;
    padding: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border: 1px solid #ddd;
    border-bottom: none;
    position: absolute;
    bottom: 36px;

    .gif {
        margin: 4px 0;
    }
}

.animate {
    transition-duration: 0.25s;
    transition-property: transform;

    &.rotate {
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        transform-origin: center;
    }
}
