<div ng-if="!$ctrl.loggedIn && !$ctrl.isLoading" class="row">
    <div class="col-xs-6 col-xs-offset-3">
        <form ng-if="!$ctrl.isExistingUser" ng-submit="$ctrl.signUp()">
            <p>Please enter a username...</p>
            <div class="input-group">
                <input class="form-control" ng-model="$ctrl.userName" />
                <div class="input-group-addon">     
                    <button class="btn" ng-click="$ctrl.signUp()">Sign up</button>
                </div>
            </div>
            <br ng-if="$ctrl.signUpError && $ctrl.signUpError.length > 0" />
            <label class="label label-danger">{{$ctrl.signUpError}}</label>           
        </form>
        <form ng-if="$ctrl.isExistingUser" ng-submit="$ctrl.login()">
            <img class="avatar" ng-src="{{$ctrl.user.avatar ? $ctrl.user.avatar : $ctrl.defaultAvatar}}" style="height:60px; width:60px;" /><br/><br/>
            <p>Welcome back <span ng-style="{color: $ctrl.user.userName.split('/')[1]}">{{$ctrl.user.userName.split('/')[0]}}</span>, enter your password below...</p>
            <div class="input-group">
                <input class="form-control" type="password" ng-model="$ctrl.password" />
                <div class="input-group-addon">
                    <button class="btn" ng-click="$ctrl.login()">Login</button>
                </div>
            </div>
            <div class="btn btn-default" ng-click="$ctrl.forgetMe()">Forget me</div>
            <br/>
            <br ng-if="$ctrl.loginError && $ctrl.loginError.length > 0" />
            <label class="label label-danger">{{$ctrl.loginError}}</label>            
        </form>
    </div>
</div>
<div ng-if="$ctrl.loggedIn" style="display: flex;" ng-init="showSidebar = true">
    <div id="room" class="padding" ng-style="{flex: showSidebar ? 9 : 1}">          
        <a ng-click="showSidebar = !showSidebar" class="sidebar-toggle hidden-xs hidden-sm">Toggle sidebar</a>
        <a ng-click="$ctrl.openSidebar()" class="sidebar-toggle hidden-md hidden-lg">Toggle sidebar</a>
        <div ui-view style="display: flex; flex-direction: column; width: 100%;"></div>
    </div>
    <sidebar class="hidden-xs hidden-sm padding" ng-style="{flex: showSidebar ? 3 : 0, display: !showSidebar ? 'none' : 'flex'}"></sidebar> 
</div>