<div ng-if="!$ctrl.loggedIn && !$ctrl.isLoading" class="row">
    <div class="col-xs-6 col-xs-offset-3">
        <form ng-submit="$ctrl.login()">
            <p>Please enter a username...</p>
            <div class="input-group">
                <input class="form-control" ng-model="$ctrl.userName" />         
                <div class="input-group-addon btn" ng-click="$ctrl.login()">
                    Login
                </div>
            </div>
            <br ng-if="$ctrl.error && $ctrl.error.length > 0" />
            <label class="label label-danger">{{$ctrl.error}}</label>           
        </form>
    </div>
</div>
<div ng-if="$ctrl.loggedIn" class="row" style="display: flex;" ng-init="showSidebar = true">
    <div id="room" ng-class="{'col-xs-12': !showSidebar, 'col-md-9 col-lg-9': showSidebar}">          
        <a ng-click="showSidebar = !showSidebar" class="sidebar-toggle hidden-xs hidden-sm">Toggle sidebar</a>
        <a ng-click="$ctrl.openSidebar()" class="sidebar-toggle hidden-md hidden-lg">Toggle sidebar</a>
        <div ui-view></div>
    </div>
    <sidebar class="hidden-xs hidden-sm col-md-3 col-lg-3" style="display: flex;" ng-class="{'hidden': !showSidebar}"></sidebar> 
</div>