<div ng-if="!$ctrl.loggedIn && !$ctrl.isLoading" class="row">
    <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3" style="padding: 0px 15px">
        <br/>
        <div ng-if="$ctrl.isExistingUser">
            <p>Welcome back, choose an account below and enter your password...</p>
            <ul class="list-unstyled" style="margin: 20px 0px;">
                <li ng-repeat="user in $ctrl.loginUserList" style="display:inline-block; margin-right: 10px;">
                    <button class="btn btn-default text-center" style="padding-top:10px;" ng-class="{'selected': $ctrl.selectedUser == user}" ng-click="$ctrl.selectedUser = user">
                        <img class="avatar" ng-src="{{user.avatar ? user.avatar : $ctrl.defaultAvatar}}" style="height:60px; width:60px; display: block; margin: 0px auto;" />
                        <div ng-style="{color: user.userName.split('/')[1]}" style="margin-top: 8px; margin-bottom: 4px;">{{user.userName.split('/')[0]}}</div>
                    </button>
                </li>
            </ul>
        </div>
        <form ng-if="$ctrl.isExistingUser" ng-submit="$ctrl.login($ctrl.selectedUser.id)">
            <div class="input-group">
                <input class="form-control" type="password" ng-model="$ctrl.password" />
                <div class="input-group-addon">
                    <button class="btn" ng-click="$ctrl.login($ctrl.selectedUser.id)">Login</button>
                </div>
            </div>
            <div ng-if="$ctrl.selectedUser" class="btn btn-default" style="margin-top: 8px; margin-bottom: 12px;" ng-click="$ctrl.forgetMe($ctrl.selectedUser.id)">Forget this account</div>
            <br ng-if="$ctrl.loginError && $ctrl.loginError.length > 0" />
            <label class="label label-danger">{{$ctrl.loginError}}</label>     
            <br/>
            <br/>       
        </form>
        <br/>
        <form ng-submit="$ctrl.signUp()">
            <p><span ng-if="!$ctrl.isExistingUser">Welcome, p</span><span ng-if="$ctrl.isExistingUser">P</span>lease enter a username...</p>
            <div class="input-group">
                <input class="form-control" ng-model="$ctrl.userName" />
                <div class="input-group-addon">     
                    <button class="btn" ng-click="$ctrl.signUp()">Sign up</button>
                </div>
            </div>
            <br ng-if="$ctrl.signUpError && $ctrl.signUpError.length > 0" />
            <label class="label label-danger">{{$ctrl.signUpError}}</label>           
        </form>
    </div>
</div>
<div ng-if="$ctrl.loggedIn" style="display: flex;" ng-init="showSidebar = true">
    <div id="room" class="padding" ng-style="{flex: showSidebar ? 9 : 1}">          
        <a ng-click="showSidebar = !showSidebar" class="btn btn-default sidebar-toggle hidden-xs hidden-sm">Toggle sidebar</a>
        <a ng-click="$ctrl.openSidebar()" class="btn btn-default sidebar-toggle hidden-md hidden-lg">Open sidebar</a>
        <div ui-view style="display: flex; flex-direction: column; width: 100%; height: calc(100% - 20px); top: -40px;
        position: relative;
        margin-bottom: -40px;"></div>
    </div>
    <sidebar class="hidden-xs hidden-sm padding" ng-style="{flex: showSidebar ? 3 : 0, display: !showSidebar ? 'none' : 'flex'}"></sidebar> 
</div>