<div class="sidebar modal-body" style="display: flex; flex-direction: column; width: 100%;">
    <div class="top" style="flex: 1;">
        <div style="display: flex">
            <button class="btn btn-default" style="flex: 1" ng-click="$ctrl.tabState = 'rooms'" ng-class="{'selected': $ctrl.tabState == 'rooms'}">Rooms</button>
            <button class="btn btn-default" style="flex: 1" ng-click="$ctrl.tabState = 'users'" ng-class="{'selected': $ctrl.tabState == 'users'}">Users</button>
        </div>
        <div class="tab-content" ng-switch="$ctrl.tabState">
            <div ng-switch-when="rooms">
                <div>
                    <div class="close" ng-click="$ctrl.showAddRoom = !$ctrl.showAddRoom" style="float:initial; margin-left: 10px;"><i class="fa fa-plus"></i></div>
                    <add-room ng-if="$ctrl.showAddRoom"></add-room>
                    <br/>
                </div>     
                <ul class="list-unstyled room-list">
                    <li ng-if="room.name.split(':')[0] == $ctrl.me.id || (room.private && room.name.split(':')[1] == $ctrl.me.id) || !room.private" style="margin-bottom: 10px;" ng-repeat="room in $ctrl.rooms track by $index">
                        <button class="btn btn-red" ng-click="$ctrl.selectRoom(room.name)" data-dismiss="modal" ng-class="{'selected': room.name == $ctrl.roomName}">
                            <span ng-if="!room.private">
                                {{room.name}}<br/>
                            </span>
                            <span ng-if="room.private">
                                <i class="fa fa-user"></i> {{$ctrl.userById(room.name.split(':')[1]).userName.split('/')[0]}}
                            </span>
                            <span ng-if="$ctrl.dateCheck(room) && $ctrl.me.currentRoom != room.name"><br/>New message!</span>
                        </button>
                    </li>
                </ul>
            </div>
            <div ng-switch-when="users">
                <div ng-if="$ctrl.me.admin">
                    <a ng-click="$ctrl.showOffline = !$ctrl.showOffline"><span ng-if="!$ctrl.showOffline">Show</span><span ng-if="$ctrl.showOffline">Hide</span> offline</a>
                    <br/><br/>
                </div>
                <ul class="list-unstyled users-list">
                    <li ng-if="user.online || $ctrl.showOffline" ng-click="$ctrl.selectRoom($ctrl.me.id + ':' + user.id, true)" ng-repeat="user in $ctrl.users track by $index" style="margin-bottom:15px; height:40px; cursor: pointer;" ng-class="{'faint': !user.online}">
                        <div class="pull-left">
                            <img class="avatar" ng-src="{{user.avatar ? user.avatar : $ctrl.defaultAvatar}}" ng-click="$ctrl.openAvatar(user)" style="height:40px; width:40px; cursor:pointer;" />
                        </div>
                        <h5 ng-style="{color: user.userName.split('/')[1]}">{{user.userName.split('/')[0]}}</h5><br/>
                        <small>
                            <label class="label" ng-class="{'label-success': user.admin, 'label-warning': !user.admin}">
                                <span ng-if="!user.admin">Basic</span>
                                <span ng-if="user.admin">Admin</span>
                            </label>&nbsp;
                            <label ng-if="user.currentRoom.indexOf(':') == -1" class="label label-default">{{user.currentRoom}}</label>
                            <label ng-if="user.currentRoom.indexOf(':') > -1" class="label label-danger">PRIVATE</label>
                        </small>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="bottom" style="margin-bottom: 10px;">
        <br/>
        <div class="pull-left">
            <img class="avatar" ng-src="{{$ctrl.me.avatar ? $ctrl.me.avatar : $ctrl.defaultAvatar}}" ng-click="$ctrl.openAvatar($ctrl.me)" style="height:70px; width:70px; cursor:pointer;" />
        </div>
        <h4 ng-style="{color: $ctrl.me.userName.split('/')[1]}">{{$ctrl.me.userName.split('/')[0]}}</h4><br/>
        <small>
            <label class="label" ng-class="{'label-success': $ctrl.me.admin, 'label-default': !$ctrl.me.admin}">
                <span ng-if="!$ctrl.me.admin">Basic</span>
                <span ng-if="$ctrl.me.admin">Admin</span>
            </label>&nbsp;
            <label ng-if="$ctrl.me.currentRoom.indexOf(':') == -1" class="label label-default">{{$ctrl.me.currentRoom}}</label>
            <label ng-if="$ctrl.me.currentRoom.indexOf(':') > -1" class="label label-danger">{{$ctrl.userById($ctrl.me.currentRoom.split(':')[1]).userName.split('/')[0]}}</label>
        </small><br/>
        <a class="editProfileLink" ng-click="$ctrl.openEditProfile()">Edit Profile</a>
    </div>
</div>