<div ng-if="!vm.loggedIn" class="row">
    <div class="col-xs-6 col-xs-offset-3">
        <form ng-submit="vm.login()">
            <p>Please enter a username...</p>
            <div class="input-group">
                <input class="form-control" ng-model="vm.userName" />         
                <div class="input-group-addon btn" ng-click="vm.login()">
                    Login
                </div>
            </div>
            <br ng-if="vm.error && vm.error.length > 0" />
            <label class="label label-danger">{{vm.error}}</label>           
        </form>
    </div>
</div>
<div ng-if="vm.loggedIn" class="row" ng-init="showSidebar = true">
    <div id="room" class="full-height-desktop" ng-class="{'col-xs-12': !showSidebar, 'col-md-9 col-lg-9': showSidebar}">          
        <a ng-click="showSidebar = !showSidebar" class="sidebar-toggle hidden-xs hidden-sm">Toggle sidebar</a>
        <a data-toggle="modal" data-target="#myModal3" class="sidebar-toggle hidden-md hidden-lg">Toggle sidebar</a>
        <div ui-view></div>
    </div>
    <div class="hidden-xs hidden-sm col-md-3 col-lg-3 full-height-desktop" ng-class="{'hidden': !showSidebar}" ng-include="'sidebar.html'"></div> 
</div>

<script type="text/ng-template" id="sidebar.html">
    <div class="sidebar">
        <div class="top">
            <button class="btn btn-default col-xs-6" ng-click="vm.tabState = 'rooms'" ng-class="{'btn-danger': vm.tabState == 'rooms'}">Rooms</button>
            <button class="btn btn-default col-xs-6" ng-click="vm.tabState = 'users'" ng-class="{'btn-danger': vm.tabState == 'users'}">Users</button>
            <br/><br/><br/>
            <div ng-switch="vm.tabState">
                <div ng-switch-when="rooms">
                    <div>
                        <div class="close" data-toggle="modal" data-target="#myModal" style="float:initial;"><i class="fa fa-plus"></i></div>
                        <br/>
                    </div>     
                    <ul class="list-unstyled room-list">
                        <li ng-repeat="room in vm.rooms track by $index">
                            <button class="btn btn-default" ng-click="vm.selectRoom(room)" data-dismiss="modal" ng-class="{'btn-danger': room == vm.roomName}">{{room}}</button>
                            <br/><br/>
                        </li>
                    </ul>
                </div>
                <div ng-switch-when="users">
                    <div ng-if="vm.me.admin">
                        <a ng-click="vm.showOffline = !vm.showOffline"><span ng-if="!vm.showOffline">Show</span><span ng-if="vm.showOffline">Hide</span> offline</a>
                        <br/><br/>
                    </div>
                    <ul class="list-unstyled users-list">
                        <li ng-if="user.online || vm.showOffline" ng-repeat="user in vm.users track by $index" style="margin-bottom:10px; height:40px;" ng-class="{'faint': !user.online}">
                            <div class="pull-left">
                                <img class="avatar" ng-src="{{user.avatar ? user.avatar : vm.defaultAvatar}}" data-toggle="modal" data-target="#myModal4" ng-click="vm.selected=user" style="height:40px; width:40px; cursor:pointer;" />
                            </div>
                            <h5 ng-style="{color: user.userName.split('/')[1]}">{{user.userName.split('/')[0]}}</h5><br/>
                            <small>
                                <label class="label" ng-class="{'label-success': user.admin, 'label-warning': !user.admin}">
                                    <span ng-if="!user.admin">Basic</span>
                                    <span ng-if="user.admin">Admin</span>
                                </label>&nbsp;
                                <label class="label label-default">{{user.currentRoom}}</label>
                            </small>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="bottom" style="margin-bottom:10px;">
            <br/>
            <div class="pull-left">
                <img class="avatar" ng-src="{{vm.me.avatar ? vm.me.avatar : vm.defaultAvatar}}" data-toggle="modal" data-target="#myModal4" ng-click="vm.selected=vm.me" style="height:70px; width:70px; cursor:pointer;" />
            </div>
            <h4 ng-style="{color: vm.me.userName.split('/')[1]}">{{vm.me.userName.split('/')[0]}}</h4><br/>
            <small>
                <label class="label" ng-class="{'label-success': vm.me.admin, 'label-default': !vm.me.admin}">
                    <span ng-if="!vm.me.admin">Basic</span>
                    <span ng-if="vm.me.admin">Admin</span>
                </label>&nbsp;
                <label class="label label-default">{{vm.me.currentRoom}}</label>
            </small><br/>
            <a class="editProfileLink" data-toggle="modal" data-target="#myModal2">Edit Profile</a>
        </div>
    </div>
</script>

<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog" style="z-index: 1070;">
  <div class="modal-dialog modal-sm">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-body">
        <h4>Add a room...</h4>
        <br/>
        <form ng-submit="vm.createRoom()">
            <div class="input-group">
                <input class="form-control" ng-model="vm.newRoomName" />
                <div class="input-group-addon btn" data-dismiss="modal" ng-click="vm.createRoom()">
                    Create
                </div>
            </div>
        </form>
      </div>
    </div>

  </div>
</div>

<!-- Modal -->
<div id="myModal2" class="modal fade" role="dialog" style="z-index: 1060;">
    <div class="modal-dialog modal-sm">
    
        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-body">
            <h4>Edit Profile</h4>
            <br/>
            <form>
                <img class="avatar" ng-src="{{vm.me.avatar ? vm.me.avatar : vm.defaultAvatar}}" style="height:80px; width:80px;" /><br/><br/>
                <input type='file' class="form-control" ng-model='vm.uploadedAvatarObject' base-sixty-four-input>
            </form>
            <form ng-submit="vm.setName()">
                <div class="input-group">
                    <input class="form-control" ng-model="vm.me.userName" />
                    <div class="input-group-addon btn" data-dismiss="modal" ng-click="vm.setName()">
                        Save name
                    </div>
                </div>
            </form>
            <form ng-if="vm.showAdminLogin" ng-submit="vm.checkKey()">
                <h4>Become an Admin</h4>
                <br/>
                <div class="input-group">
                    <input class="form-control" type="password" ng-model="vm.adminKey" placeholder="Enter the admin key" />
                    <div class="input-group-addon btn" ng-click="vm.checkKey()">
                        Go
                    </div>
                </div>
                <div class="text-center"><br/><label ng-show="vm.adminError.message.length > 0" class="label" ng-class="{'label-success': vm.adminError.success, 'label-danger': !vm.adminError.success}">{{vm.adminError.message}}</label></div>
            </form>
            <div ng-if="!vm.showAdminLogin && vm.me.admin">
                <br/>
                <p class="text-center">You are an Admin!</p>
            </div>
          </div>
        </div>
    
    </div>
</div>

<!-- Modal -->
<div id="myModal3" class="modal fade" role="dialog">
    <div class="modal-dialog modal-sm">
    
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-body" ng-include="'sidebar.html'"></div>
            <br/>
        </div>
    
    </div>
</div>

<!-- Modal -->
<div id="myModal4" class="modal fade" role="dialog">
    <div class="modal-dialog">
    
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-body text-center">
                <img ng-src="{{vm.selected.avatar ? vm.selected.avatar : vm.defaultAvatar}}" style="max-width:100%" />
            </div>
        </div>
    
    </div>
</div>