<div style="display: flex; flex-direction: column; width: 100%;">
    <div style="height: 40px; margin-bottom: 7px;">
        <a class="btn btn-default" ng-if="$ctrl.me.admin" ng-click="$ctrl.toggleDeleted()">
            <span ng-if="$ctrl.showDeleted">Hide</span>
            <span ng-if="!$ctrl.showDeleted">Show</span> deleted</a>
    </div>
    <ul class="list-unstyled messages" style="flex: 1;">
        <li ng-if="!$ctrl.allMessagesDeleted() || $ctrl.showDeleted" ng-repeat="date in $ctrl.dates">
            <hr />
            <p class="text-center">{{date | date:'dd-MM-yyyy'}}</p>
            <table class="table borderless">
                <tr ng-if="!message.deleted || ($ctrl.me.admin && $ctrl.showDeleted)" ng-repeat="message in $ctrl.messages | filter:date track by $index">
                    <td>
                        <div class="col-xs-10 col-md-8 bubble" ng-class="{'col-xs-offset-2 col-md-offset-4' : $ctrl.me.id == message.userId, 'faint' : message.deleted}">
                            <div class="pull-left" uib-tooltip-template="$ctrl.userTooltip" tooltip-append-to-body="true" tooltip-placement="bottom-left"><img class="avatar" ng-src="{{$ctrl.users[message.userId].avatar ? $ctrl.users[message.userId].avatar : $ctrl.defaultAvatar}}" /></div>
                            <div class="pull-right text-right">{{message.dateTime | date:'dd/MM/yyyy HH:mm:ss'}}<br/>
                                <a ng-if="$ctrl.me.id == message.userId" ng-click="$ctrl.editMessage(message)">Edit</a>
                                <a ng-if="$ctrl.me.admin" ng-click="$ctrl.removeMessage(message)">Delete</a>
                            </div>
                            <span ng-style="{color: $ctrl.users[message.userId].userName.split('/')[1]}">{{$ctrl.users[message.userId].userName.split('/')[0]}}</span><br/>
                            <div ng-if="message.type == 'text'">{{message.message}} <span ng-if="message.edited" class="faint">(edited)</span></div>
                            <div ng-if="message.type == 'image'"><img ng-src="{{message.message}}" ng-click="$ctrl.openImage(message)" style="cursor:pointer; max-width:100%; margin-top:5px;" /></div>
                        </div>
                    </td>
                </tr>
            </table>
        </li>
        <li ng-if="$ctrl.messages.length == 0 || ($ctrl.allMessagesDeleted() && !$ctrl.showDeleted)" class="text-center">
            <br/><br/>
            <p>There are no messages in this room yet..</p>
        </li>
    </ul>

    <form ng-submit="$ctrl.send()" class="no-margin bottom">
        <div class="giphy-container" ng-if="$ctrl.giphy_show">
            <div class="text-center" style="width: 200px; text-overflow: ellipsis;">{{$ctrl.gif.title}}</div>
            <img class="gif" ng-src="{{$ctrl.gif.images.fixed_width.url}}" />
            <div class="text-center">
                <button type="button" class="btn btn-red selected" ng-click="$ctrl.sendGif()">Send</button>
                <button type="button" class="btn btn-default" ng-click="$ctrl.fetchGif()">Shuffle</button>
                <button type="button" class="btn btn-default" ng-click="$ctrl.cancelGif()">Cancel</button>
            </div>
        </div>
        <div style="display: inline-block; color: #888; font-size: 13px; padding: 3px 5px;">
            <span ng-repeat="userId in $ctrl.typing track by $index">{{$ctrl.users[userId].userName.split('/')[0]}} is typing... </span>
        </div>
        <div class="input-group">
            <input class="form-control" ng-model="$ctrl.message" ng-change="$ctrl.userTyping()" placeholder="Type a message or paste an image url, /giphy {search} works too!" />
            <div class="input-group-addon">
                <button type="button" class="btn" ng-click="$ctrl.openUploadDialog();">
                    <input class="pictureUpload" type='file' style="display:none;" ng-model='$ctrl.uploadedPictureObject' base-sixty-four-input>
                    <span>Upload Picture</span>
                </button>
            </div>
            <div class="input-group-addon">
                <button type="submit" class="btn" ng-click="$ctrl.send()">
                    <span ng-if="$ctrl.editingMessage == -1">Send</span>
                    <span ng-if="$ctrl.editingMessage > -1">Save</span>
                </button>
            </div>
        </div>
    </form>
</div>
<div ui-view></div>