<div class="text-center" style="padding: 10px 0px;">
    <img class="avatar" ng-src="{{$ctrl.users[message.userId].avatar ? $ctrl.users[message.userId].avatar : $ctrl.defaultAvatar}}" style="height:80px; width:80px; display: block; margin: 0px auto; cursor:pointer;" />
    <h5 ng-style="{color: $ctrl.users[message.userId].userName.split('/')[1]}" style="margin: 8px 0px;">{{$ctrl.users[message.userId].userName.split('/')[0]}}</h5><br/>
    <label class="label" ng-class="{'label-success': $ctrl.users[message.userId].admin, 'label-warning': !$ctrl.users[message.userId].admin}">
        <span ng-if="!$ctrl.users[message.userId].admin">Basic</span>
        <span ng-if="$ctrl.users[message.userId].admin">Admin</span>
    </label>&nbsp;
    <label ng-if="$ctrl.users[message.userId].currentRoom.indexOf(':') == -1" class="label label-default">{{$ctrl.users[message.userId].currentRoom}}</label>
    <label ng-if="$ctrl.users[message.userId].currentRoom.indexOf(':') > -1" class="label label-danger">PRIVATE</label>
</div>